@charset "UTF-8";

/* Config padrão */
:root {
    --cor_fonte: #fff;
    --cor_borda: #bbb;
    --cor_form: #8888;
    --cor_bc_hover: #9c0000;
    --carregado: #00ff00;
    --cor1: #ff0000;
    --cor2: #222;
    --cor3: #888;
    --sombra: #0000006b;
}

/* Config geral */
* {
    color: lightgreen;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor_fonte);
}

body {
    background-color: var(--cor3);
}

a.intern, a.extern {
    text-decoration: none;
    color: var(--cor_fonte);
    transition: all;
    transition-duration: .5s;
}

a.extern:after {
    content: '\1F517';
}

a.extern:hover, a.interno:hover {
    text-decoration: underline;
}

/* Header */
header {
    padding: 100px 25px 25px;
    text-align: center;
    background-color: var(--cor1);
    box-shadow: 0px 7px 7px var(--sombra);
}

/* Nav Bar */
nav {
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 25px;
    background-color: var(--cor1);
    box-shadow: 0px 7px 7px var(--sombra);
}

nav a:hover {
    padding: 10px;
    border: 2px solid var(--cor_borda);
    border-radius: 10px;
    background-color: var(--cor_bc_hover);
}

/* Conteúdo */
main {
    padding: 50px;
    margin: auto;
    min-width: 250px;
    max-width: 750px;
    box-shadow: inset 0px -7px 7px var(--sombra);
    background-color: var(--cor2);
}

h2 {
    text-align: justify;
}

form {
    padding: 10px;
}

.url {
    margin: 15px;
    width: 90%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: black;
}

.url:hover {
    border: 2px solid var(--cor_borda);
}

h2 {
    margin: 15px 0;
}

form div {
    margin: 10px;
}

iframe.youtube_video {
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

div.bar {
    border-radius: 10px;
    width: 150px;
    height: 15px;
    background-color: #fff;
}

div.changed {
    background-color: var(--carregado);
    left: 0;
    margin: 0;
    border-radius: 10px;
    height: 100%;
}

.percent {
    width: 50px;
    height: 1em;
}

.container {
    background-color: var(--cor_form);
    padding: 15px;
    border-radius: 15px;
}

.msg {
    color: var(--cor_fonte);
    background-color: var(--cor3);
    padding: 25px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    line-height: 1.5em;
    text-align: justify;
}

.submit{
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    color: var(--cor_fonte);
    background-color: var(--cor3);
    border: none;
    transition: all;
    transition-duration: .5s;
}

.submit:hover {
    border: 2px solid var(--cor_borda);
    background-color: var(--cor2);
}

/* Footer */
footer {
    padding: 25px;
    text-align: center;
    box-shadow: 0px -7px 7px var(--sombra);
    background-color: var(--cor1);
}

footer a {
    text-decoration: none;
    color: var(--cor_fonte);
}

footer a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.reference {
    margin: auto;
    padding: 10px;
    width: 75vw;
}